<fc-component name="fc-header" action="component/fc/Header">
    <template>
        <div class="fc-header">
            <img src="src/resource/image/logo_main.png" />
            <ul>
                <li><a data-ui="type:FcLink;group:fc-header-links;" href="#" class="active">便捷管理</a></li>
                <li><a data-ui="type:FcLink;group:fc-header-links;" href="#">推广管理</a></li>
                <li><a data-ui="type:FcLink;group:fc-header-links;" href="#">优化与工具中心</a></li>
                <li><a data-ui="type:FcLink;group:fc-header-links;" href="#">推广报告</a></li>
                <li><a data-ui="type:FcLink;group:fc-header-links;" href="#">批量帮手</a></li>
            </ul>
        </div>
    </template>
</fc-component>