<fc-component name="fc-navigator" action="component/fc/Navigator">
    <template>
        <div class="fc-navigator">
            <h1 class="logo">
                <img src="src/resource/image/logo.png">
            </h1>
            <a href="#/entry/demo/hello/project">Hello 项目</a>
            <a href="#/entry/demo/hello/page">Hello 页面</a>
            <a href="#/entry/demo/hello/component">Hello 组件</a>
            <a href="#/entry/demo/hello/ui">组件使用UI</a>
            <a href="#/entry/demo/hello/ajax">组件使用异步数据</a>
            <a href="#/entry/demo/hello/dialog">对话框</a>
            <a href="#/entry/demo/hello/interactive">两三个组件</a>
            <a href="#/entry/demo/hello/try">try it your self</a>
        </div>
    </template>
</fc-component>