<fc-component name="fc-code-editor" action="component/fc/code/Editor">
    <template>
        <div class="fc-code-editor">
            <div data-ui="id:fc-code-editor-type;type:Tab;">
                <ul data-role="navigator">
                    <li data-for="html">HTML</li>
                    <li data-for="css">CSS</li>
                    <li data-for="js">JavaScript</li>
                </ul>
            </div>
            <div id="fc-code-editor-main"></div>
        </div>
    </template>
</fc-component>